* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/*main*/
main {
    height:calc(100% - 50px);
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    float: left;
    min-height: 500px;
    height: 100%;
    width: 200px;
}

.top {
    background-color:black;
    height: calc(100% - 100px);
}

#logo {
    border: solid 1px black;
    max-width: 150px;
    max-height: 50px;
}

#logo img {
    max-width: 140px;
    max-height: 40px;
    background-size: cover;
    margin-left: 10px;
    margin-top: 5px;
}


.nav-left ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-left ul li {
    color: gray;
    margin-top: 10px;
}
.nav-left ul li a {
    color: gray;
    text-decoration: none;
}

.nav-left ul li img {
    max-height: 20px;
    max-width: 20px;
    margin-right:5px;
}
.nav-left ul p {
    color: white;
    margin:10px 0;
    font-size: 18px;
}

.fas {
    color: gray;
    font-size: 30px;
    margin-right: 5px;
}

.bottom {
    height: 100px;
    background-color: black;
}

.line {
    border: solid 0.5px whitesmoke;
    width: 180px;
    margin-top: 10px;
    margin: auto;
}

.account img {
    margin-top: 10px;
    max-width: 20px;
    max-height: 20px;
    margin-left: 5px;
}

.cotainer-main {
    background-color: rgb(9, 9, 26);
    float: right;
    overflow-y: scroll;
    width: calc(100% - 200px);
    height: 100%;
}

.cta {
    position: fixed;
    width: calc(100% - 200px);
    top: 0;
    left: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    border: solid 1px white;
    float: right;
    margin: auto;
    margin-right: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 8px;
    
}

.btn a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 30px 10px;
}


.content ul {
    list-style: none;
    margin-top: 70px;
    text-align: center;
}

.content ul li {
    display: inline;
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}

.row {
    width: 100%;
    display: flex;
}

.row h1 {
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}
.items {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.items img {
    max-width: 150px;
    max-height: 150px;
}

.circle {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-radius: 50%;
}

.circle img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
/*footer*/

footer {
    background-color: cornflowerblue;
    height: 50px;
    position: relative;
}




/*media-query*/

