* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/*main*/
main {
    height:calc(100% - 50px);
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    float: left;
    height: 100%;
    width: 200px;
}

.top {
    background-color:black;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.top li:hover {
    color: white;
    cursor: pointer;
}

.top span:hover {
    color:white;
    cursor: pointer;
}

.logo-mobile {
    display: none;
}

#logo {
    width: 100%;
    height: 50px;
    border: solid 1px black;
    margin-bottom: 10px;
}

#logo img {
    max-width: 160px;
}

.link ul li img {
    max-width: 30px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.link ul li span {
    color: gray;
    text-align: center;
    font-size: 13px;
}

.playlist h3 {
    color: white;
    margin-left: 10px;
    padding: 10px 0px;
}

.playlist span i {
    font-size: 40px;
    margin-right: 5px;
    vertical-align: middle;
}

.playlist span {
    color: gray;
    margin-left: 10px;
}

.nuova-playlist {
    overflow-y: auto;
}

.nuova-playlist li {
    list-style: none;
    margin-left: 10px;
    margin-top: 15px;
    color: gray;
    font-size: 13px;
    
}

.bottom {
    height: 100px;
    background-color:black;
}

.dowload {
    width: 80%;
    margin: auto;
    border-bottom: solid 1px gray;
    padding: 10px 0px;
}

#dowload span:hover {
    color: white;
    cursor: pointer;
}

#dowload img {
    max-width: 20px;
    vertical-align: middle;
    
}

#dowload span {
    color:gray;
    font-size: 13px;
    margin-left: 5px;
}

#img {
    padding: 15px 20px;
}

#img:hover {
    cursor: pointer;
}

#img img {
    border-radius: 50%;
    background-color: gray;
    color: white;
    max-width: 30px;
    vertical-align: middle;
}

#img span {
    color: white;
    padding: 0px 10px;
}
.cotainer-main {
    background-color: rgb(10, 10, 24);
    float: right;
    overflow-y: scroll;
    width: calc(100% - 200px);
    height: 100%;
}

.cta {
    position: fixed;
    width: calc(100% - 200px);
    top: 0;
    left: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    border: solid 1px white;
    float: right;
    margin: auto;
    margin-right: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 8px;
}

.btn:hover {
    transform: scale(1.1);
}
.btn a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 30px 10px;
}

.content {
    margin-top: 75px;
}

.nav-center {
    text-align: center;
}

.nav-center ul li {
    display: inline;
    margin-right: 10px;
}

.nav-center ul li a {
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    padding: 5px 0px;
}

.nav-center ul li a:hover {
    color: white;

}
.nav-center ul li a.active::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #94dd25;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.row h1 {
    color: white;
    padding-left: 10px;
    font-size: 25px;
}

.items-container {
    position: relative;
    width:calc(100% / 6 - 20px);
    margin:0px 10px
}

.items-container img {
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.items-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay i {
    font-size: 50px;
    color: white;
}

.text {
    width: 100%;
}

.text h2 {
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}

.text p {
    color: gray;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}

.overlay circle {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 50%;
}


.circle img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.circle h2 {
    color: white;
    margin-top:10px ;
    font-size: 15px;
    text-align: center;
}

/*footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(45, 45, 47);
    height: 100px;
    position: relative;
}

footer .left {
    display: flex;
}

.album img {
    width: 40px;
}

footer .left, footer .right {
    width: 250px;
}

footer .right ul {
    display: flex;
}

footer .right li {
    list-style: none;
}

footer .center ul {
    display: flex;
}

footer .center li {
    list-style: none;
}

.time .current-time, .time .total-time {
    width: 10%;
}

.time .progress-bar {
    width: 80%;
    background-color: gray;
    height: 5px;
    border-radius: 5px;
}

.time .progress-current {
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}




/*media-query*/

